/*This is an import of a new font. We can find fonts at fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');


body {
	background-color: aqua;
}

footer {
	background-color: blue;
	height: 300px;
	width: 100vw;
}

/* this is a class*/
.img-div {
	border: 2px silver dotted;
	font-family: "Agbalumo", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:link,
a:visited {
	color: chartreuse;
}