@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

:root {
	--primary_color: rgb(230, 230, 230);
	--secondary_color:
		linear-gradient(transparent 49%, hsl(330, 65%, 65%) 50%, transparent 51%),
		linear-gradient(transparent 45.9%, hsla(307, 36%, 55%, 0.553) 49.9%, transparent 53.1%),
		radial-gradient(transparent 0%, hsla(330, 94%, 38%, 0.486) 30%, rgb(13, 2, 35) 45%),
		radial-gradient(rgba(12, 45, 193, 0.9) 50%, transparent 100%);
	--primary_outline: rgb(105, 105, 105);
	--purple: rgb(189, 17, 238);
	--white: rgb(227, 227, 227);
	--pulse: #766ce0;


}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Notable";
}

body {
	background: rgb(0, 0, 0);
	color: var(--white);
}

nav {
	display: flex;
	/* position: absolute; */
	align-items: center;
	justify-content: space-around;
	text-transform: uppercase;
	font-size: clamp(10px, 2vw, 14px);
	margin-top: 1rem;
	width: 100%;
	/* border: 1px solid rgb(66, 65, 65); */
	/* list-style: none; */
}

nav a:link,
li a:link {
	text-decoration: none;
	color: white;
	transition: .3s all;
}

li a:link {
	margin-left: .5rem;
}

ol li {
	margin-left: 1.5rem;
	color: #7b1733;
	text-shadow: #8bf5ff 2px 2px 2px;
}

ol p {
	padding-bottom: 1.5rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: rgb(213, 213, 213);
}

nav a:visited,
li a:visited {
	color: var(--secondary_color);
}

nav a:hover,
li a:hover {
	color: rgb(0, 217, 255);
}

.but1 {
	height: 50px;
	width: 150px;
	background: linear-gradient(#2c1b68 40%, transparent 50%, rgba(14, 39, 175, 0.882) 55%);

}

.but2 {
	border: 1px solid var(--pulse);
	color: var(--pulse);
	border-radius: 10px;
	height: 50px;
	width: 150px;
	background: linear-gradient(15deg,
			hsla(198, 93%, 47%, 0.3) 65%,
			/* rgba(104, 179, 250, 0.2) 68%, */
			transparent 75%,
			transparent 78%,
			hsla(252, 83%, 34%, 0.4) 85%,
			purple 93%),
		rgba(4, 34, 126, 0.2);
	background-size: 200px 200px;
	box-shadow: inset 0 0 2px 1px black,
		inset 0 6px 5px rgba(242, 229, 247, 0.496),
		inset 0 -5px 10px rgba(72, 66, 250, 0.2),
		inset 0px -5px 1px rgba(106, 133, 156, 0.3),
		inset -2px -5px 2px rgba(19, 84, 224, 0.3),
		/* inset 7px -5px 2px rgba(0, 0, 0, 0.4), */
		inset 7px 0px 3px rgba(14, 1, 36, 0.8),
		inset -7px 0px 3px rgba(141, 115, 180, 0.255);
	transition: .2s ease-out all;
}

.font {
	display: flex;
	align-items: center;
	justify-content: center;
	inset: 0;
	margin: auto;
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: 600;
	text-shadow: 0 0 2px rgb(0, 0, 0),
		1px 1px 5px rgb(18, 190, 203);
	transition: .2s ease-out all;
}

.but2:hover {
	border: rgba(224, 190, 241, 0.9) 1px solid;
	color: rgb(185, 182, 245);
	text-shadow: 0px 0px 20px #ffffff;
	box-shadow:
		0 0 10px 10px rgba(172, 201, 238, 0.08),
		0 0 20px 20px rgba(172, 201, 238, 0.08),
		0 0 30px 30px rgba(172, 201, 238, 0.08),
		inset -1px 5px 1px rgba(136, 172, 255, 0.675),
		inset 1px -5px 1px rgba(39, 188, 252, 0.5),
		inset -5px 5px 2px rgba(134, 129, 218, 0.578),
		inset 5px -5px 2px rgba(134, 129, 218, 0.578);
	transition: .2s ease-out all;
}

.top {
	display: flex;
	position: relative;
	width: 100%;
	height: 20vh;
	background: var(--secondary_color);
}

.left_top {
	display: flex;
	position: absolute;
	border-radius: 5px;
	width: 10%;
	height: 17vh;
	background: rgba(65, 60, 105, 0.3);
	background-image: repeating-linear-gradient(90deg, black 0 2px, rgba(95, 70, 237, 0.1) 2px 5px, transparent 5px 40px),
		repeating-linear-gradient(black 0 2px, hsla(245, 65%, 65%, 0.65) 2px 3px, transparent 3px 36px);
	border-top: 1px solid rgba(16, 16, 216, 0.65);
	border-bottom: 1px solid rgba(16, 16, 216, 0.65);
	border-right: 2px solid rgba(3, 3, 127, 0.65);
	border-left: 2px solid rgba(3, 3, 127, 0.65);
	box-shadow: black 3px 3px 1px, hsl(245, 100%, 72%) 5px 5px 3px, inset hsla(245, 100%, 72%, 0.27) 5px 5px 1px,
		hsla(246, 100%, 98%, 0.5) 3px 3px 10px,
		rgb(41, 48, 2) -2px -2px 5px;
	margin: .75rem;
	z-index: 1;
}

.mid_top {
	display: flex;
	position: absolute;
	border-radius: 5%;
	width: 40%;
	height: 17vh;
	background: rgba(65, 60, 105, 0.3);
	background-image: repeating-linear-gradient(90deg, black 0 2px, rgba(95, 70, 237, 0.1) 2px 5px, transparent 5px 40px),
		repeating-linear-gradient(black 0 2px, hsla(245, 65%, 65%, 0.65) 2px 3px, transparent 3px 36px);
	border-top: 1px solid rgba(16, 16, 216, 0.65);
	border-bottom: 1px solid rgba(16, 16, 216, 0.65);
	border-right: 2px solid rgba(3, 3, 127, 0.65);
	border-left: 2px solid rgba(3, 3, 127, 0.65);
	box-shadow: black 3px 3px 1px, hsl(245, 100%, 72%) 5px 5px 3px, inset hsla(245, 100%, 72%, 0.27) 5px 5px 1px,
		hsla(246, 100%, 98%, 0.5) 3px 3px 10px,
		rgb(41, 48, 2) -2px -2px 5px;
	margin: auto;
	inset: 0;
}

.right_top {
	display: flex;
	position: absolute;
	border-radius: 5%;
	width: 20%;
	height: 17vh;
	background: rgba(65, 60, 105, 0.3);
	background-image: repeating-linear-gradient(90deg, black 0 2px, rgba(95, 70, 237, 0.1) 2px 5px, transparent 5px 40px),
		repeating-linear-gradient(black 0 2px, hsla(245, 65%, 65%, 0.65) 2px 3px, transparent 3px 36px);
	border-top: 1px solid rgba(16, 16, 216, 0.65);
	border-bottom: 1px solid rgba(16, 16, 216, 0.65);
	border-right: 2px solid rgba(3, 3, 127, 0.65);
	border-left: 2px solid rgba(3, 3, 127, 0.65);
	box-shadow: hsla(245, 100%, 61%, 0.5) 2px 2px 1px,
		hsla(246, 100%, 98%, 0.5) 2px 2px 10px,
		rgb(41, 48, 2) -2px -2px 5px;
	box-shadow: black 3px 3px 1px, hsl(245, 100%, 72%) 5px 5px 3px, inset hsla(245, 100%, 72%, 0.27) 5px 5px 1px,
		hsla(246, 100%, 98%, 0.5) 3px 3px 10px,
		rgb(41, 48, 2) -2px -2px 5px;
	right: 0;
	margin: .75rem;

}

.inside {
	display: flex;
	position: absolute;
	border-radius: 10%;
	outline: hsla(245, 65%, 65%, 0.65) 1px solid;
	outline-offset: -1px;
	width: 95%;
	height: 75%;
	background: rgba(65, 60, 105, 0.3);
	background-image: repeating-linear-gradient(90deg, rgba(12, 12, 12, 0.4) 0 2px, rgba(50, 81, 111, 0.12) 2px 4px, transparent 4px 40px),
		repeating-linear-gradient(hsla(245, 53%, 17%, 0.3) 0px 1px, transparent 2px 16px);
	border-left: 2px solid hsla(119, 85%, 38%, 0.553);

	border-top: 2px solid hsla(119, 80%, 52%, 0.278);
	border-right: 2px solid hsla(245, 65%, 65%, 0.145);
	border-bottom: 2px solid hsla(245, 65%, 65%, 0.145);
	margin: auto;
	inset: 0;
	filter: brightness(150%);
	box-shadow: 2px 2px 2px black,
		inset -2px -2px 2px rgba(34, 16, 6, 0.5), ew inset 3px 3px 2px rgba(2, 81, 80, 0.5);
}

.words {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #64163c;
	width: 100%;
	font-family: 'Times New Roman', Times, serif;
	-webkit-text-stroke: 1px hsla(0, 0%, 90%, 0.75);
	text-shadow: 3px 3px 1px rgb(93, 3, 44);
	-webkit-background-clip: text;
	font-size: 30px;
	letter-spacing: 15px;
	z-index: 2;
}

.lower_container {
	display: flex;
	position: relative;
	flex-basis: auto;
	margin-top: 2vh;
	height: 78vh;
	bottom: 0;
	width: 100%;
	background-image: linear-gradient(45deg, hsla(303, 100%, 50%, 0.25), hsla(253, 100%, 50%, 0.25), hsla(55, 100%, 50%, 0.25));

}

.overlay,
.overlay2 {
	opacity: .25;
	display: flex;
	position: absolute;
	width: 100%;
	height: 50%;
	/* border: 2px solid blue; */
	background: repeating-linear-gradient(90deg, black 0 2px, rgb(115, 114, 114) 2px 3px, transparent 3px 40px);
}

.overlay2 {
	position: absolute;
	top: 49%;
}

.traveller:nth-child(1) {
	margin-left: 40px;
}

.traveller {
	text-align: center;
	height: 60px;
	width: 43px;
	border: 1px solid rgb(115, 114, 114);
	border-right: 5px solid rgba(67, 54, 117, 0.703);
	background: rgba(230, 248, 90, 0.25);
	backdrop-filter: blur(10px);
	margin: 05rem 18.25px;
	animation: travel calc(.075s * var(--i)) infinite alternate ease-in-out;
}

@keyframes travel {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(100%);
	}
}

.sidebar {
	display: flex;
	position: absolute;
	border-radius: 10px;
	padding: 0 10px;
	/* width: 25%; */
	max-width: 30px;
	height: 100%;
	left: 0;
	background-color: transparent;
}

.bar {
	display: flex;
	position: absolute;
	height: 100%;
	margin-left: 25%;
	width: 5%;
	background-color: black;
}

.stones_container,
.interloper,
.glint,
.population {
	display: flex;
	position: absolute;
	flex-wrap: wrap;
	border-radius: 10px;
	padding: 0 10px;
	height: 100%;
	width: 70%;
	right: 0;
	background-color: transparent;
}

.interloper,
.glint,
.population {
	margin-left: 5rem;
}

.stone_container {
	display: flex;
	flex-direction: column;
	position: relative;
	text-transform: capitalize;
	height: 7rem;
	width: 5rem;
	margin: 10px;

}

.stone {
	position: absolute;
	height: 5rem;
	width: 100%;
	/* box-shadow: 2px 2px 10px rgba(120, 8, 181, 0.5),
		3px 3px 10px rgba(226, 4, 115, 0.5),
		inset 2px 2px 2px rgba(67, 228, 198, 0.732); */
	border-radius: 5px;
	box-shadow: inset 2px 2px 1px rgba(184, 10, 228, 0.553),
		inset -2px -2px 1px rgba(7, 189, 165, 0.5);
	background-image: hsla(245, 53%, 17%, 0.3);
	border: 1px solid rgb(29, 220, 134);
	transition: .3s all;
}

.stone:hover {
	border-color: rgb(255, 221, 87);
	background-image: transparent;
}

.stone::before {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	background: hsla(202, 65%, 65%, 0.05);
	border-radius: 5px;
}

.stone_label {
	position: absolute;
	font-family: Geneva, Verdana, sans-serif;
	-webkit-text-stroke: #9e9e9e 1px;
	color: #8f054a6e;
	height: 2rem;
	width: 100%;
	bottom: 0;
	text-align: center;
}

.stone_wrapper {
	position: absolute;
	inset: 0;
	margin: auto;
	background-size: cover;
	width: 85%;
	height: 85%;
	z-index: -1;
}

.fire {
	background-image: url(assets/fire.png);
}

.nano {
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1;
	border: 3px dotted gold;
outline: goldenrod 3px dotted;
outline-offset: -15px;
	border-radius: 30%;
	position: absolute;
	animation: turning 6s linear infinite;
}

.nano::before {
	content: '';
	border: 3px dotted gold;
outline: goldenrod 3px dotted;
outline-offset: -15px;
	position: absolute;
	width: 97%;
	aspect-ratio: 1;
	border-radius: 50%;
	animation: turning 6s 2s linear infinite;
}

.nano::after {
	content: '';
	border: 3px dotted gold;
outline: goldenrod 3px dotted;
outline-offset: -15px;
	position: absolute;
	width: 100%;
	rotate: 75deg;
	aspect-ratio: 1;
	border-radius: 30%;
	animation: turning 6s 4s linear infinite;
}

@keyframes turning {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}

}

@keyframes turning1 {

	0% {
		transform: perspective(50px) rotatez(360deg) rotateY(10deg) translateZ(5px);
	}

	100% {
		transform: perspective(50px) rotatez(0deg) rotateY(10deg) translateZ(5px);

	}

}

.ring {

	border: 5px dotted rgb(109, 86, 32);
	outline-offset: -4px;
	outline: 5px double rgb(109, 86, 32);
	position: absolute;
	left: -25%;
	top: -20%;
	width: 150%;
	aspect-ratio: 1;
	border-radius: 100%;
    transform: rotateX(65deg);
	transform-style: preserve-3d;
	animation: turning1 15s linear infinite;
	transform-origin: 50% 50%;
	/* transform: rotateX(75deg) translatey(20px); */
}

.ball {
	position: absolute;
	border: #07c596 1px solid;
	border-radius: 50%;
	inset: 0;
	margin: auto;
	width: 50%;
	height: 50%;
	aspect-ratio: 1;
	animation: turnin1 5s linear reverse;
	background: radial-gradient(blue, #07c596);
}

.perspective {
	/* perspective: 50px; */
	transform-style: preserve-3d;
}

.oil {
margin: auto;
inset: 0;
 width: 60%;
  height: 60%;
  border-radius: 0 50% 50% 50%;
  border: 2px solid rgb(31, 40, 83);
  transform: rotate(45deg);
background: linear-gradient(rgba(2, 2, 149, 0.75), rgba(1, 127, 127, 0.75), rgb(0, 0, 132), rgb(132, 116, 204));
  /* margin-top: 20px; */
}

.wheel {
	width: 50px;
	height: 50px;
	background: radial-gradient(circle at 48.5% 24px, #bf950e 12%, 12%, black 2%, rgba(209, 172, 38, 0.4) 20%, rgba(0, 0, 0, 0.3) 35%), repeating-conic-gradient(black, #af890d 45deg);
	position: absolute;
	border: 2px solid black;
	outline-offset: .5px;
	outline: 2px solid #af8704;
	border-radius: 50px;
	animation: turning 15s ease-in-out infinite;

}

.wheel::before {
	content: "";
	position: absolute;
	outline-offset: -2px;
	outline: 2px solid rgba(199, 156, 3, 0.748);
	border-radius: 50%;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.united {
position: absolute;
width: 85%;
height: 85%;
border-right: rgb(29, 172, 194) 3px solid;

outline: #000000 2px solid;
outline-offset: -15px;
background: radial-gradient(white, gold, rgba(153, 131, 7, 0.659), rgb(3, 24, 255), transparent);
border-radius: 50%;
box-shadow: #07c596 2px 2px 5px, #07c596 -2px -2px 5px, inset #055843 1px 1px 10px, inset #055843 -1px -1px 10px,  inset #055843 1px -1px 10px, inset #055843 -1px 1px 10px;
	animation: turning 80s linear infinite;

}

.united::before, .united::after {
content: '';
margin: auto;
inset: 0;
position: absolute;
border-radius: 50%;
border: 5px dotted black;
box-shadow: inset rgba(1, 0, 0, 0.6) 2px 2px 5px, inset rgba(1, 0, 0, 0.6) -2px 2px 5px;

width: 90%;
height: 90%;
}

.united::after{
border: 5px dotted yellow;
transform: rotate(20deg);
}

.dyson {
position: absolute;
width: 70%;
height: 70%;
outline: #db090993 15px dotted;
outline-offset: -15px;
background: radial-gradient(rgb(176, 241, 44), rgb(255, 183, 0) , rgb(229, 107, 31), rgba(70, 60, 2, 0.385), transparent);
border-radius: 50%;
box-shadow: #07c596 2px 2px 3px,#07c596 2px 2px 30px, #07c596 -2px -2px 3px,#07c596 -2px -2px 30px, inset #000000 1px 1px 5px, inset #000000 -1px -1px 5px;
	animation: turning 90s linear infinite;

}

.dyson::before, .dyson::after {
content: '';
margin: auto;
inset: 0;
position: absolute;
outline: #000000 7px dotted;
outline-offset: -2px;
border-radius: 50%;
box-shadow: inset rgb(1, 0, 0) 2px 2px 10px;
background: repeating-linear-gradient(black 0 2.7px, transparent 2.7px 9px),
repeating-linear-gradient(90deg, black 0 2.7px, transparent 2.7px 9px);
border: 12px dotted rgba(255, 213, 0, 0.8);
width: 90%;
height: 90%;
}

.dyson::after {
outline: #3f0b0b6d 15px dotted;
outline-offset: 3px;
border: #ec6629c2 5px dotted;
transform: rotate(45deg);}