.yellow_sun {
	background-image: url(assets/yelloweclipse1.png);
}

.red_sun {
	background-image: url(assets/redeclipse.png);
}

.blue_sun {
	background-image: url(assets/blueeclipse.png);
}

.wormhole,
.wormhole1 {
	width: 100%;
	height: 100%;
	position: absolute;
}

.wormhole::before,
.wormhole1::before,
.wormhole::after,
.wormhole1::after {
	content: '';
	opacity: 1;
	position: absolute;
	margin: auto;
	inset: 0;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	animation: starter 1.5s alternate infinite;
}

.wormhole::before,
.wormhole1::before {
	border-radius: 50%;
	bottom: 2.5%;
	left: 5%;
	opacity: 0.6;
	border: 1px rgb(25, 94, 243) solid;
	height: 90%;
	width: 90%;
	background-image: repeating-radial-gradient(circle at 50%, black, transparent 7px, black 5px, transparent 4px),
		repeating-conic-gradient(rgb(2, 2, 114) 33%, rgb(0, 255, 255) 66%, rgb(64, 87, 55) 66%);

}

.wormhole::before {
	animation: turning 8s linear infinite;
}

.wormhole::after,
.wormhole1::after {
	width: 90%;
	height: auto;
	aspect-ratio: 1/1;
	top: 55%;
	left: 30%;
	border: 1px solid white;
	background: radial-gradient(circle at 100% 80%, rgba(123, 247, 214, 0.5),
			rgba(204, 232, 22, 0.125) 55%),
		radial-gradient(circle at 20% 10%,
			rgba(255, 255, 255, 0.75) 14%,
			transparent 24%);
	transform: translateX(-20px) translateY(-20px) skewX(-5deg);
	filter: blur(6px);
	animation: none;
}

@keyframes starter {
	to {
		rotate: 60deg;
		opacity: 0;
	}
}

.atom {
	height: 0px;
	width: 0px;
	background-image: rgb(255, 255, 255);
	border: rgb(255, 255, 255) 2px solid;
	border-radius: 50%;
	filter: blur(1px);
	animation: skewa 1s linear infinite;
}

.proton {
	position: absolute;
	border: #28187a 2px solid;
	border-radius: 50%;
	inset: 0;
	margin: auto;
	outline: 1px solid rgb(165, 173, 255);
	outline-offset: 15px;
	height: 30px;
	width: 30px;
	filter: blur(3px);
	background-image: radial-gradient(circle, rgb(85, 85, 184), rgb(98, 98, 98));
}

@keyframes skewa {
	from {
		transform: rotate(0deg) translate(30px);
	}

	to {
		transform: rotate(360deg) translate(30px);
	}
}

.sanitation {
	position: absolute;
	height: 80%;
	width: 80%;
	inset: 0;
	margin: auto;
	background-image: linear-gradient(#5d6f85, #b1b9bc);
}

.smith {

	background-image: linear-gradient(#00797A, #00B4B3);
}

.metal {

	background-image: linear-gradient(-30deg, #9f0505 30%, #f95631, #9f0505 70%);
}

.grid {
	position: absolute;
	height: 80%;
	width: 80%;
	inset: 0;
	margin: auto;
	transform: rotateX(55deg);
	background-image: repeating-linear-gradient(transparent 0 4px, rgb(129, 129, 129) 4px 5px, transparent 5px 9px),
		repeating-linear-gradient(90deg, transparent 0 4px, rgb(139, 139, 139) 4px 5px, transparent 5px 9px);
}

.sub_atomic {
	position: absolute;
	border: #240d86 3px solid;
	border-radius: 50%;
	height: 19px;
	width: 19px;
	filter: blur(3px);
	margin-top: -40%;
	transform-origin: -90px 050px;
	background: rgb(147, 148, 227);
	animation: sub .04s infinite alternate;
}

.sub_atomic::before,
.sub_atomic::after {
	content: '';
	position: absolute;
	border: #240d86 3px solid;
	border-radius: 50%;
	rotate: 9deg;
	height: 21px;
	width: 21px;
	filter: blur(3px);
	background: rgb(207, 240, 110);
	transform-origin: -100px 100px;
	animation: sub .04s .09s infinite alternate;
}

.sub_atomic::after {
	transform-origin: -90px -110px;
	background: rgb(251, 173, 173);

}

@keyframes sub {
	from {
		transform: rotate(0deg) translate(0px, 0px);
	}

	to {
		transform: rotate(.5deg) translate(0px, .5px);
	}
}

.sub_atom {
	position: absolute;
	border-radius: 50%;
	height: 7px;
	width: 7px;
	filter: blur(1px) drop-shadow(0px -15px 1.5px rgb(255, 255, 255))brightness(500%);
	margin-top: 20%;
	z-index: 10;
	rotate: 5deg;
	transform-origin: -50px -250px;
	background: rgb(147, 160, 227);
	animation: sub .002s infinite alternate;
}

.sub_atom::before,
.sub_atom::after {
	content: '';
	position: absolute;
	border-radius: 50%;
	rotate: 9deg;
	height: 10px;
	width: 10px;
	z-index: 10;
	filter: blur(0px) drop-shadow(20px -10px 1px rgb(21, 47, 238))brightness(5000%);
	background: rgb(255, 255, 255);
	box-shadow: 12px 0px 3px rgb(255, 255, 255);
	transform-origin: -140px 120px;
	animation: sub .002s .11s infinite alternate;
}

.sub_atom::after {
	transform-origin: -30px -20px;
	animation-delay: .05s;
}


.fmoon {
	background-image: url(assets/fmoon.png);
}

.fire {
	background-image: url(assets/fire.png);
}

.camp {
	background-image: url(assets/camp1.png);
}

.health {
	background-image: url(assets/health.png);
}

.farm {
	background-image: url(assets/sheaves.png);

}

.earth {
	background-image: url(assets/earth.png);
}

.educate {
	background-image: url(assets/educate.png);
}

.sub_atomic {
	background-image: url(assets/subatomic.png);
}

.nano {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	aspect-ratio: 1;
	border: 4px dotted rgb(200, 210, 3);
	outline: rgb(180, 141, 42) 3px dotted;
	outline-offset: -7px;
	border-radius: 54% 64% 60% 40%/ 45% 37% 55% 70%;
	position: absolute;
	animation: turning 6s linear infinite;
}

.nano::before {
	content: '';
	border: 2px dotted gold;
	outline: rgb(255, 219, 60) 3px dotted;
	outline-offset: -5px;
	position: absolute;
	width: 85%;
	aspect-ratio: 1;
	border-radius: 70% 44% 60% 47%/ 45% 57% 55% 70%;
	animation: turning 5s 2s ease-in-out infinite;
}

.nano::after {
	content: '';
	border: 2px dotted rgb(255, 220, 19);
	outline: rgb(232, 244, 9) 2px dotted;
	outline-offset: -11px;
	position: absolute;
	width: 65%;
	rotate: 75deg;
	aspect-ratio: 1;
	border-radius: 51%;
	animation: turning 4s 4s ease-in-out infinite;
}

@keyframes turning {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}

}

@keyframes turning1 {

	0% {
		transform: rotatey(10deg) translatey(-10px) translateZ(20px) rotatez(0deg);
	}

	100% {
		transform: rotatey(10deg) translatey(-10px) translateZ(20px) rotatez(360deg);
	}

}

@keyframes turning1 {

	0% {
		transform: translatey(-20px) rotatez(0deg);
	}

	100% {
		transform: translatey(-20px) rotatez(360deg);
	}

}

@keyframes turning2 {

	0% {

		transform: rotateX(30deg) rotatez(0deg) translateY(10px);
	}

	100% {

		transform: rotateX(30deg) rotatez(-360deg) translateY(10px);
	}
}

.planet::before {
	content: "";
	position: absolute;
	border: 5px dashed rgb(188,133,45);
	outline-offset: -8px;
	outline: 15px double rgb(162, 115, 7);
	position: absolute;
	height: 250%;
	aspect-ratio: 1/1;
	rotate: x 80deg;
	inset: 0;
	left: -75%;
	margin: auto;
	border-radius: 50%;
	animation: turning1 50s linear infinite;
}

.planet {
	display: flex;
	transform-style: preserve-3d;
	border: #c6dbd58e 1px solid;
	border-radius: 50%;
	inset: 0;
	margin: auto;
	width: 47%;
	aspect-ratio: 1/1;
	background: radial-gradient(circle at 70% 0%, #6fff92 0%, transparent 50%),
		radial-gradient(#0022ff, #09098e);
}

.ringScene {
	transform-style: preserve-3d;
}

.ball {
	position: absolute;
	border: #07c596 1px solid;
	border-radius: 50%;
	inset: 0;
	margin: auto;
	width: 60%;
	height: 60%;
	background: radial-gradient(blue, #07c596);
}

.perspective {
	perspective: 100px;
	/* top: 50%; */
	/* transform-style: preserve-3d; */
}

.stationTop {
	clip-path: polygon(50% 0%, 80% 10%, 100% 33%, 100% 46%, 92% 53%, 56% 30%, 8% 53%, 0 40%, 0 46%, 0 33%, 20% 10%);
}

.station {
	background-image: url(assets/station.png);
}

.dna {
	background-image: url(assets/dna.png);
}

.milky {
	scale: 1.2;
	filter: brightness(1.5);
	background-image: url(assets/milkyway.png);
}

.oil {
	margin: auto;
	inset: 0;
	width: 60%;
	height: 60%;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
	border-radius: 0 50% 50%;
	border: 3px solid rgb(32, 7, 1);
	transform: rotate(45deg);
	background: radial-gradient(rgba(238, 243, 147, 0.75) 0%, rgba(182, 119, 9, 0.7) 30%, rgba(69, 37, 5, 0.7)60%, rgba(27, 21, 3, 0.4) 100%);
	margin-top: 20px;
}

.oil_backdrop {
	width: 80%;
	height: 80%;
	background-image: radial-gradient(rgb(148, 129, 8) 5%, transparent 80%);
	margin: auto;
	inset: 0;
}

.weather {
	background-image: url(assets/weather.png);
}


.wheel {
	width: 50px;
	height: 50px;
	background: radial-gradient(circle at 48.5% 24px, #bf950e 12%, 12%, black 2%, rgba(209, 172, 38, 0.4) 20%, rgba(0, 0, 0, 0.3) 35%), repeating-conic-gradient(black, #af890d 45deg);
	position: absolute;
	border: 2px solid black;
	outline-offset: .5px;
	outline: 2px solid #af8704;
	border-radius: 50px;
	animation: none;
	animation: turning 15s ease-in-out infinite;
}

.wheel::before {
	content: "";
	position: absolute;
	outline-offset: -2px;
	outline: 2px solid rgba(199, 156, 3, 0.748);
	border-radius: 50%;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.map {
	background-image: url(assets/map.jpg);
}

.united {
	position: absolute;
	width: 85%;
	height: 85%;
	border-right: rgb(29, 172, 194) 3px solid;
	outline: #000000 2px solid;
	outline-offset: -15px;
	background: radial-gradient(white, gold, rgba(153, 131, 7, 0.659), rgb(3, 24, 255), transparent);
	border-radius: 50%;
	box-shadow: #07c596 2px 2px 5px, #07c596 -2px -2px 5px, inset #055843 1px 1px 10px, inset #055843 -1px -1px 10px, inset #055843 1px -1px 10px, inset #055843 -1px 1px 10px;
	animation: turning 70s linear infinite;

}

.united::before,
.united::after {
	content: '';
	margin: auto;
	inset: 0;
	position: absolute;
	border-radius: 50%;
	border: 5px dotted black;
	box-shadow: inset rgba(1, 0, 0, 0.6) 2px 2px 5px, inset rgba(1, 0, 0, 0.6) -2px 2px 5px;
	width: 90%;
	height: 90%;
}

.united::after {
	border: 5px dotted yellow;
	transform: rotate(20deg);
}

.dyson {
	position: absolute;
	width: 70%;
	height: 70%;
	outline: #db090993 15px dotted;
	outline-offset: -15px;
	background: radial-gradient(rgb(176, 241, 44), rgb(255, 183, 0), rgb(229, 107, 31), rgba(70, 60, 2, 0.385), transparent);
	border-radius: 50%;
	box-shadow: #07c596 2px 2px 3px, #07c596 2px 2px 30px, #07c596 -2px -2px 3px, #07c596 -2px -2px 30px, inset #000000 1px 1px 5px, inset #000000 -1px -1px 5px;
	animation: turning 80s linear infinite;

}

.dyson::before,
.dyson::after {
	content: '';
	margin: auto;
	inset: 0;
	position: absolute;
	outline: #000000 7px dotted;
	outline-offset: -2px;
	border-radius: 50%;
	box-shadow: inset rgb(1, 0, 0) 2px 2px 10px;
	background: repeating-linear-gradient(black 0 2.7px, transparent 2.7px 9px),
		repeating-linear-gradient(90deg, black 0 2.7px, transparent 2.7px 9px);
	border: 12px dotted rgba(255, 213, 0, 0.8);
	width: 90%;
	height: 90%;
}

.dyson::after {
	outline: #3f0b0b6d 15px dotted;
	outline-offset: 3px;
	border: #ec6629c2 5px dotted;
	transform: rotate(45deg);
}

.sun {
	width: 80%;
	height: 80%;
	border: 1px solid rgb(255, 255, 146);
	border-top: white 1px solid;
	border-radius: 50%;
	box-shadow: inset rgb(217, 245, 36) 2px 2px 10px,
		2px 2px 5px rgba(219, 245, 48, 0.893), 2px 2px 10px rgb(255, 255, 0);
	background-image: radial-gradient(ellipse at 65% 10px, rgb(255, 223, 196), rgba(231, 243, 14, 0.863) 15%, transparent 30%),
		radial-gradient(ellipse at 40% 30%, rgba(101, 91, 45, 0.866), rgba(245, 111, 62, 0.849) 5%, transparent 30%),
		radial-gradient(ellipse at 80% 15px, rgba(237, 88, 2, 0.75), rgba(255, 119, 69, 0.829) 5%, transparent 30%),
		radial-gradient(ellipse at 60% 10px, rgba(224, 84, 8, 0.912), rgba(224, 166, 19, 0.6) 25%, transparent 70%),
		radial-gradient(ellipse at 50% 50px, rgba(238, 111, 111, 0.75), rgba(255, 174, 0, 0.6) 5%, transparent 30%),
		radial-gradient(rgb(255, 242, 0), rgb(217, 255, 4), yellow);
}

.sun::before,
.sun::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 1px solid rgb(222, 246, 8);
}

.stellar {
	width: 80%;
	height: 80%;
	background-image: radial-gradient(rgb(255, 255, 255) 3%, transparent 5%, rgb(0, 0, 0), transparent 25%, rgb(11, 11, 22) 65%, transparent 70%), repeating-conic-gradient(rgb(0, 0, 0) 12.5%, rgb(67, 77, 192) 18%, rgb(210, 34, 202) 25%);
	border-radius: 30%;
}

.warp {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-image: radial-gradient(white 0%, rgb(15, 119, 142) 5%, transparent 9%, transparent 15%, rgba(195, 240, 245, 0.25) 30%, rgba(98, 242, 242, 0.5) 35%, transparent 37%);
	animation: glow 3s linear infinite;
}

.warp::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	rotate: y 70deg;
	background-image: repeating-conic-gradient(#ff000000 0%, #ff000000 5%, #5bd6f545 15%, #5bf2f5b5 20%),
		repeating-conic-gradient(#ff000000 0%, #ff000000 5%, #5bd6f545 15%, #66fcff 20%);
	animation: shrink 12s ease-in-out infinite;
}

.warp::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	rotate: x -70deg;
	background-image: repeating-conic-gradient(#ff000000 0%, #ff000000 5%, #5bd6f545 15%, #5bf2f5b5 20%),
		repeating-conic-gradient(#ff000000 0%, #ff000000 5%, #5bd6f545 15%, #66fcff 20%);
	animation: shrink 12s ease-in-out infinite;
}

@keyframes glow {
	50% {
		opacity: .7;
	}
}

@keyframes shrink {

	0% {
		transform: rotate(0deg);
	}

	50% {
		scale: .5;
		opacity: .6;
	}

	100% {
		transform: rotate(720deg);
	}

}